[submodule "statusbar"]
	path = statusbar
	url = https://git.sr.ht/~rootmos/statusbar
[submodule "st"]
	path = st
	url = https://git.sr.ht/~rootmos/st
[submodule "dvorak"]
	path = dvorak
	url = https://github.com/rootmos/dvorak
