[submodule "statusbar"]
	path = statusbar
	url = https://git.sr.ht/~rootmos/statusbar
[submodule "st"]
	path = st
	url = https://git.sr.ht/~rootmos/st
[submodule "dvorak"]
	path = dvorak
	url = https://github.com/rootmos/dvorak
[submodule "xhook"]
	path = xhook
	url = https://github.com/rootmos/xhook
[submodule "action"]
	path = action
	url = https://git.sr.ht/~rootmos/action
[submodule "displayswitcheroo"]
	path = displayswitcheroo
	url = https://github.com/rootmos/displayswitcheroo
[submodule "monitor"]
	path = monitor
	url = https://github.com/rootmos/monitor
	branch = buildml
[submodule "dmenu"]
	path = dmenu
	url = https://git.sr.ht/~rootmos/dmenu
